<p id="notice"><%= notice %></p>

<p>
  <strong>Ім'я:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Прізвище:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Дата народження:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Номер телефону:</strong>
  <%= @user.phone_number %>
</p>


<p>
  <strong>Сертифікати:</strong>
  <%= @user.certificate %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
