<p id="notice"><%= notice %></p>

<p>
  <strong>Certificate name:</strong>
  <%= @certificate.certificate_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certificate.description %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
